/* topleft yutube logo image  */
.logo {
    max-width: 35%;
    padding-left: 15%;
    position: relative;
    top: 14%;
}

.youtubelogo {
    margin-left: 2%;
    margin-bottom: 5%;
}

.container-1 {
    display: flex;
    
}

/* .container-1 div {
    border: 1px solid black;
} */

.searchbar input {
    width: 80%;
    margin-top: 2%;
}

.topleft i {
    padding: 5%;
    float:right

}

.youtubelogo {
    flex: 1;

}

.searchbar {
    flex: 2; 

}
.topleft {
    flex: 1;
}
.mainvideo iframe {
    margin: 2%;
    width: 70%;
    height: 450px;

}

.video-head{
    margin: 2%;
}

.video-box {
    display: flex;
    
}
.video-views {
    margin-left: 31%;
    color: #8A8888;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5%;
}
.video-description {
    margin: 2%;
}
.icon {
    margin: 2%;
    font-weight: bold;
    font-size: small;
}

.videoplayer {
    display: grid;
}

